@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF; /* White background */
    --foreground: #333333; /* Dark gray for text */
    --card: #FFFFFF; /* White card background */
    --card-foreground: #333333; /* Dark gray for card text */
    --popover: #FFFFFF; /* White popover background */
    --popover-foreground: #333333; /* Dark gray for popover text */
    --primary: #FC2779; /* Enku Beauty primary pink */
    --primary-foreground: #FFFFFF; /* White text on primary color */
    --secondary: #FF92BB; /* Light pink as secondary background */
    --secondary-foreground: #FFFFFF; /* Dark gray for secondary text */
    --muted: #F4E9F0; /* Light pink for muted elements */
    --muted-foreground: #999999; /* Light gray for muted text */
    --accent: #F4E9F0; /* Light pink for accent elements */
    --accent-foreground: #333333; /* Dark gray for accent text */
    --destructive: #FF4D4D; /* Red for destructive actions */
    --destructive-foreground: #FFFFFF; /* White text on destructive color */
    --border: #EAEAEA; /* Light gray for borders */
    --input: #EAEAEA; /* Light gray for input backgrounds */
    --ring: #333333; /* Dark gray for focus rings */
    --radius: 0.5rem; /* Border radius for elements */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}