@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF; /* White background */
    --foreground: #333333; /* Dark gray for text */
    --card: #FFFFFF; /* White card background */
    --card-foreground: #333333; /* Dark gray for card text */
    --popover: #FFFFFF; /* White popover background */
    --popover-foreground: #333333; /* Dark gray for popover text */
    --primary: #512E87; /* Enku Beauty primary pink */
    --primary-foreground: #FFFFFF; /* White text on primary color */
    --secondary: #EA0A8C; /* Light pink as secondary background */
    --secondary-foreground: #FFFFFF; /* Dark gray for secondary text */
    --muted: #F4E9F0; /* Light pink for muted elements */
    --muted-foreground: #999999; /* Light gray for muted text */
    --accent: #F4E9F0; /* Light pink for accent elements */
    --accent-foreground: #333333; /* Dark gray for accent text */
    --destructive: #FF4D4D; /* Red for destructive actions */
    --destructive-foreground: #FFFFFF; /* White text on destructive color */
    --border: #EAEAEA; /* Light gray for borders */
    --input: #EAEAEA; /* Light gray for input backgrounds */
    --ring: #333333; /* Dark gray for focus rings */
    --radius: 0.5rem; /* Border radius for elements */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* carousel.css */
.carousel .control-dots .dot {
  background-color: #FF92BB !important;/* Default dot color */
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  background-color: #FC2779; /* Enku Beauty primary color */
}

.carousel .carousel-status {
  color: #FC2779; /* Enku Beauty primary color for status text */
}

.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5);
}

.carousel .control-next.control-arrow:before,
.carousel .control-prev.control-arrow:before {
  border-top-color: #FC2779;
  border-right-color: #FC2779;
}

.carousel .control-next.control-arrow:after,
.carousel .control-prev.control-arrow:after {
  border-bottom-color: #FC2779;
  border-left-color: #FC2779;
}
